
<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-cogs"></i>
        <span class="menu-text">
            系统设置
        </span>

        <b class="arrow icon-angle-down"></b>
    </a>

    <ul class="submenu">
        <li>
            <a href="faq.html" onclick="return submenuClickHandle(this);">
                <i class="icon-double-angle-right"></i>
                显示 Access_token
            </a>
        </li>

        <li>
            <a href="error-404.html" onclick="return submenuClickHandle(this); ">
                <i class="icon-double-angle-right"></i>
                自定义菜单
            </a>
        </li>

    </ul>
</li>
